@font-face {
    font-family: 'TradeGothic LT';
    src: url('fonts/TradeGothicLT.woff2') format('woff2'),
        url('fonts/TradeGothicLT.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TradeGothic LT';
    src: url('fonts/TradeGothicLT-Light.woff2') format('woff2'),
        url('fonts/TradeGothicLT-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'TradeGothic LT';
    src: url('fonts/TradeGothicLT-Bold.woff2') format('woff2'),
        url('fonts/TradeGothicLT-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

html, body {
	color: #ffffff;
	background-color: #000;
	font-family: 'TradeGothic LT',"Helvetica Neue", Arial, sans-serif;
	/*font-weight: 300;*/
	font-size: 16px;
}

.container {
	margin-top: 10%;
}

.paper {
	color: #666;
	font-size: 12px;
	text-transform: uppercase;
	padding: 0px 5px;
}

.papers {
	border-left: 1px solid #fff;
}

ul {
	padding-bottom: 20px;
}

ul li {
	padding: 0px 5px 5px;
}

a {
	color: #fff;
}

a:hover {
	color: #fff;
	text-decoration: underline;
}